@import "../global.scss";
// #E48B35
header {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  .logoContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
    height: 50px;
    @include mobile {
      display: flex;
      align-items: center;
      justify-content:space-evenly;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .icons > img,
    button {
      margin-left: 35px;
      @include mobile {
        margin-left:20px;
      }
    }
    .icons .btn {
      background-color: #51893f;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;
      @include mobile {
        font-size: 10px;
        padding: 2px 25px;
      }
    }
  }
  .logoContainer > img {
    justify-content: flex-start;
  }
  // navbar css styles
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50px;
    background-color: #f6f6fa;
    .menu {
      margin-right: 25px;
    }
    .menu a {
      text-decoration: none;
      color: #2c2c2c;
      font-size: 13px;
      margin-left: 35px;
      font-weight: 500;

      span {
        background: rgba(
          76,
          175,
          80,
          0.3
        ); /* Green background with 30% opacity */
        color: #51893e;
        font-weight: bold;
        margin-left: 2px;
        font-size: 11px;
        border-radius: 5px;
        padding: 2px;
      }
    }
  }
  // clippath styles
  .bannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 120px;
    position: relative;
    @include mobile {
      display: flex;
      align-items: center;
      justify-content:space-evenly;
     
    }
    .left {
      flex: 3;
      margin-top: 20px;
      background-image: url("/images/bgoverlay.svg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      .heading {
        width: 100%;
        font-size: 56px;
        text-align: left;
        color: #2c2c2c;
        span {
          color: #e48b35;
        }
      }
      .textPara {
        width: 80%;
        font-size: 16px;
        margin-top: 20px;
        text-align: left;
        color: #2c2c2c;
      }
      .optionContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 28px;
        .option h2 {
          color: #3b5999;
          font-size: 24px;
        }
        .option p {
          color: #2c2c2c;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }
    .right {
      flex: 1;
      .circle {
        width: 500px;
        height: 500px;
        background-image: url(/images/clippath.svg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        float: right;
        /* Add styles to the form container */
        .container {
          position: absolute;
          left: 0px;
          top: 20px;
          margin: 20px;
          max-width: 330px;
          max-height: 444px;
          padding: 16px;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 4px 6px #00000029;
          border: 1px solid #d8deea;
          border-radius: 5px;
          opacity: 1;

          .areatext {
            width: 300px;
            height: 128px;
            background: #fff;
            border: 1px solid #d8deea;
            text-align: left;
            letter-spacing: 0.03px;
            color: #b1bdd6;
            opacity: 1;
            border-radius: 5px;
            padding: 12px 20px;
            margin: 8px 0;
            font-size: 14px;
          }
          .inputgroup {
            display: flex;
            width: 300px;
            position: relative;
            .input3 {
              width: 30%;
              margin-right: 5px;
            }
            .input4 {
              width: 70%;
              position: relative;
            }
            .input4:focus::placeholder {
              position: absolute;
              top: 0;
              transition: all 2s ease;
            }
            .minus,
            .plus {
              display: flex;
              color: #e48b35;
              font-size: 50px;
              // position: absolute;
              // top: 0;
              // right:0;
              // bottom:0;
            }
          }
          /* Full-width input fields */
          input[type="text"] {
            width: 300px;
            height: 34px;
            background: #fff;
            border: 1px solid #d8deea;
            text-align: left;
            letter-spacing: 0.03px;
            color: #b1bdd6;
            opacity: 1;
            border-radius: 5px;
            padding: 12px 20px;
            margin: 8px 0;
            font-size: 14px;
          }
          ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #b1bdd6;
          }

          input[type="text"]:focus {
            outline: none;
          }

          /* Set a style for the submit button */
          .btn {
            background-color: #e48b35;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            width: 300px;
            border-radius: 5px;
            opacity: 0.9;
            font-size: 12px;
          }

          .btn:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.chatContainer {
  display: flex;
  align-items: center;
  justify-content: end;

  .chatbox {
    width: 250px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid rgb(99, 98, 98);
    border-radius: 5px;
    position: relative;
    position: fixed;
    bottom: 30px;
    display: none;
    .livechat {
      background-color: #f8e2cb;
      padding: 10px;
    }
    .saleschat {
      padding: 10px;
    }
    .supportchat {
      background-color: #f8e2cb;
      padding: 10px;
    }
    .getcall {
      background-color: #f8e2cb;
      padding: 10px;
    }
  }
  .chatbtn {
    width: 70px;
    height: 70px;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    bottom: 0px;

    > img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2px;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      &:hover {
        transform: rotate(30deg);
      }
    }
  }
}

@media (max-width: 770px) {
  .menu {
    display: none;
  }
}
